*, *::after, *::before {
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-family: 'Noto Sans TC', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.5;
}

img{
    vertical-align: middle;
    max-width: 100%;
    height: auto; 
}

a{
    text-decoration: none;
    color: inherit;
}