
.productNav{
    ul{
        li{
            width: 33.333%;
            a{
                display: block;
                width: 100%;
                padding-top: 24px;
                padding-bottom: 23px;
                border: 1px solid #DCDCDC;
                border-bottom: 1px solid #DCDCDC;
                margin-right: -1px;
                cursor: pointer;
                &:hover {
                    @include product_navHover;
                    @include pad{
                        @include product_navHover_pad_mobile{
                            padding-bottom: 8px;
                            border-bottom: 8px solid $primary;
                        }
                    }
                    @include mobile{
                        @include product_navHover_pad_mobile{
                            padding-bottom: 8px;
                            border-bottom: 8px solid $primary;
                        }
                    }
                }
                @include pad{
                    padding-top: 16px;
                    padding-bottom: 15px;
                    font-size: 24px;
                }
                @include mobile{
                    padding-top: 16px;
                    padding-bottom: 15px;
                    font-size: 16px;
                }
            }
        }
    }
}

.productPic{
    .productPic_left{
        background-image: url(../images/product-header-1.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 296px;
        width: 50%;
        @include pad{
            background-image: url(../images/product-header-sm-1.png);
        }
        @include mobile{
            background-image: url(../images/product-header-sm-1.png);
            height: 136px;
        }
    }
    .productPic_right{
        background-image: url(../images/product-header-2.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 296px;
        width: 50%;
        @include pad{
            background-image: url(../images/product-header-sm-2.png);
        }
        @include mobile{
            background-image: url(../images/product-header-sm-2.png);
            height: 136px;
        }
    }
}

.shop{
    padding: 80px 0;
    @include mobile{
        padding-top: 40px;
        padding-bottom: 64px;
    }
    .shopTitle2{
        @include mobile{
            margin-bottom: 24px;
        }
    }
    ul{
        flex-wrap: wrap;
        gap: 80px 1.851%;
        @include pad{
            gap: 40px 3.125%;
        }
        @include mobile{
            gap: 24px 0px;
        }
        li{
            width: 23.6111%;
            @include pad{
                width: 43.75%;
            }
            @include mobile{
                width: 83%;
            }
        }
    }
    .shopCommodity{
        margin-bottom: 80px;
        .shopCommodity_title{
            display: flex;
            justify-content: space-between;
            font-size: 24px;
            .shopCommodity_price{
                color: $primary;
                font-weight: 700;
            }
        }
        .shopCommodity_color{
            display: flex;
            gap: 8px;
            .shopCommodity_colorLeft{
                width: 24px;
                height: 24px;
                background-color: #5F3E2D;
                border-radius: 4px;
            }
            .shopCommodity_colorRight{
                width: 24px;
                height: 24px;
                background-color: #B75929;
                border-radius: 4px;
            }
        }
    }
}

.shopPage{
    display: flex;
    justify-content: center;
    a{
        font-size: 18px;
        color: #555555;
        display: block;
        padding: 8.75px 16px;
        cursor: pointer;
        border: 1px solid #555555;
        margin-right: -1px;
        &:hover{
            @include pageHover_1
        }
    }
    .previous_next{
        font-size: 19px;
        padding-right: 12px;
        padding-left: 12px;
        &:hover{
            @include pageHover_2
        }
    }
}
